.sidebar {
    height: 100vh;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #04AA6D;
    z-index: 23;
    display:flex;
    padding:20px;
    width: 100px;
    flex-direction: column;
}
.sidebar.expanded {
    width: 400px;
    align-items: flex-start;
    padding-right: 20px;
    padding-top: 20px;
}
#button {
    padding: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: xx-large;
}
.icon {
    color:white;
    font-size: xx-large;
    padding: 20px;
    margin-left: -10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.body-text {
margin-left: 150px;
font-size: 18px;
}
.hidden {
    display: none;
}

